@media only screen and (max-width: 750px) {
  .index-content {
    flex-direction: column !important;
  }

  .index-content-text h3 {
    font-size: 15px !important;
  }

  .index-content-text p {
    font-size: 13px !important;
  }

  .order-now-button {
    font-size: 20px;
    width: 150px !important;
  }

  .navigation-bar {
    font-size: 5vw !important;
  }

  .menu-line {
    width: 20px !important;
    height: 2px !important;
    ;
  }

  .type-of-food p {
    font-size: 20px !important;
  }

  .row.type-of-food {
    justify-content: flex-start;
  }

  .type-of-food {
    overflow-x: scroll;
    padding: 10px;

  }

  .row.restaurants-filter {
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

  }

  .column.restaurant-state {
    border: none;
    width: 200px;
    /* padding: 20px; */
  }

  .row.type-of-food::-webkit-scrollbar {
    height: 2px;
  }

  .row.type-of-food::-webkit-scrollbar-thumb {
    width: 2px;
  }


  .actual-restaurant h3 {
    font-size: inherit ;
  }

  .column.restaurant-list {
    width: inherit;
  }
  .column.actual-restaurant{
    padding:0;
  }
  .restaurant-result{
    width:100%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
  }
  .column.actual-restaurant{
    align-items:center !important;
  }
}